*.pyc
*.flac
.vscode
model/*
datasets/
birdnet.conf
IdentifiedSoFar.txt
IdentifiedSoFar.txt.bak
Birders_Guide_Installer_Configuration.txt
birdnet/
templates/*.service
scripts/*.txt
scripts/birds.db
analyzing_now.txt
apprise.txt
BirdDB.txt
exclude_species_list.txt
firstrun.ini
HUMAN.txt
include_species_list.txt
.idea/workspace.xml
.idea/vcs.xml
.idea/php.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/encodings.xml
.idea/deployment.xml
.idea/BirdNET-Pi.iml
